<h1>
  <%= @list.name %>
</h1>
<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <%= movie.title %>
      <%= link_to 'Delete', list_bookmark_path(@list, movie.bookmark_ids), method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add A Bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Return to Lists', lists_path %>
