<div class="navbar px-4">
  <%= link_to lists_path do %>
    <%= image_tag('reel.png', size: '32x32', class: 'icon') %>
  <% end %>
  <%= link_to new_list_path do %>
    <span class="btn btn-secondary rounded">New Marquee</span>
  <% end %>
</div>
<div class="container">
<h1>
  <%= @list.name %>
</h1>
<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product">
      <% movie = Movie.find(bookmark.movie_id) %>
      <img src="<%= movie.poster_url %>" alt="movie poster" class="poster">
      <div class="card-product-infos">
        <h2>
          <%= movie.title %>
        </h2>
        <p>
          <%= movie.overview %>
        </p>
        </div>
      <%= link_to list_bookmark_path(@list, bookmark), method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <%# <i class="fa-regular fa-trash-can"></i> %>
            <%= image_tag('delete.png', class: 'icon', size: '32x32') %>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to new_list_bookmark_path(@list) do %>
  <%= image_tag('bookmark.png', class: 'icon') %>
<% end %>
</div>
