<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3cc6ce83ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/469afcb10e/UntitledProject/style.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
